*{margin: 0px; padding: 0px; font-family: Arial, Helvetica, sans-serif;}

main{
    display: flex;
    justify-content: space-around;
    background-color: rgb(214, 214, 214);
    flex-wrap: wrap;
    gap: 40px 0px;
}
main .content{
    background-color: white;
    margin: 20px 2px;
    border-style: solid;
    min-width: 75vw;
    min-height: 85vh;
}
main .content #top{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main .content#top .banner{
    background-color: gray;
    padding: 30px;
    text-align: center;
    font-size: 40px;
}
main .sidebar{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    text-align: center;
    background-color: white;
    margin: 20px 2px;
    border-style: solid;
    width: 20vw;
    min-height: 85vh;
}
main .sidebar .banner{
    background-color: gray;
    padding: 30px;
    text-align: center;
    font-size: 40px;
}
main .sidebar .banner#sidebarselect{
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    background-color: white;
    font-size: medium;
    margin: auto;
}

footer{
    height: 50px;
    background-color: gray;
}