*{margin: 0px; padding: 0px; font-family: Arial, Helvetica, sans-serif;}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0px;
    background-color: gray;
}
header .Icon{
    width: 40px;
    height: 40px;
    padding: 10px;
    border-style: solid;
}
header .navselect td{
    border-style: solid;
    padding: 10px 50px;
}
header .navselect td:hover{
    background-color: white;
}
header .navselect td a{
    display: block;
    text-decoration: none;
}