<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="importnav.js"></script>
</head>
<body>
    <header id="navigation">
        <div class="Icon">

        </div>
        <nav class="navbar">
            <table class="navselect">
                <td><a href="#">Home</a></td>
                <td><a href="Lessons.html">Lessons</a></td>
                <td>About</td>
                <td>Contact</td>
            </table>
        </nav>
    </header>
</body>
</html>